*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: url(./img/banner/bg.svg);
}
.nav{
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}
.nav .logo{
    margin-left: 20px;
}
.nav-list>ul{
    display: flex;
    gap: 15px;
}
.nav-list>ul>li{
    list-style: none;
    color: rgb(255, 255, 255);
}
.nav-list>ul>li:last-child{
    margin-right: 20px;
}
.wrapper{
    color: white;
    text-align: center;
    margin-top: 50px;
}
.wrapper>h1{
    font-size: 80px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/*
.wrapper>p{
    font-size: 20px;
    display: flex;
    position: fixed;
    bottom: 0;
    padding-bottom: 30px;
    margin-left: 180px;
    width: 70%;
}*/

.wrapper>p{
    padding-top: 250px;
    font-size: 20px;
    text-align: center;
}